/*

$Id$

*/

BODY {
   font-family: sans-serif; 
   font-size: 6px;

}

.prompt {
   border-style: dotted
   border-width: 1px;
   background-color: #e0e0e0;
   padding: 0.3em;
   padding-bottom: 0;
   margin-top: 0;
   font-weight: bold;
}

.name {
      padding: 0;
      marging: 0;
      padding-right: 1em; 
      font-size: 2.0em;
      color: #ffffff;
}

.link {
   padding: 0.4em;	
}

.detail {
    font-size: 0.6em;
    font-weight: normal;
}

.f {
   margin: 0;
}

div { 
   margin: 0;
}

/*
td {
  background-color: red;
}
*/

