/* this style sheet defines the basic style for schema pages */
/* you can point to this by adding:

     <LINK rel="Stylesheet" href="bi.css">


   in the HEAD of your HTML document */

body {
  font-family: sans-serif;
  color: black;
  background: white;
}

a:link, a:active {
  color: #00e;
  background: transparent;
}

a:visited {
  color: #529;
  background: transparent;
}

div.intro {
  margin-left: 5%;
  margin-right: 5%;
  font-style: italic
}

pre {
  font-family: monospace
}

a:link img, a:visited img {
   border-style: none
}

a img { color: white; }        /* hide the border in Netscape 4 */
@media all {                   /* hide from Netscape 4 */
  a img { color: inherit; }    /* undo the rule above */
}

ul.toc {
  list-style: disc;
  list-style: none;
}

div.issue {
  padding: 0.5em;
  border: none;
  margin-right: 5%;
}


h2  { margin-left: 12pt; background: #00eeee; color: black; font-size: 18pt;
	text-align: right;}
table { margin-left: 10em;  width: 85%;}
table.wide { margin-left: 2em; font-size: 9pt; width: 95%;}

.ns  { text-align: left;  font-family: monospace; vertical-align:top; }

th { margin-left: 12pt; text-align: right; background: #ffffff; }
td { margin-left: 12pt; border: 4pt; border-color: #555555;
    padding: 3pt;
 #    doiesn't exist: padding-color: #ffeeee;
    vertical-align: top; }
td.ln { font-family: monospace; vertical-align: top; }
td.amount { width: 6em; text-align: right;  } /* font-family: monospace; */
td.amt { text-align: right;  } /* font-family: monospace; */
td.total { font-weight: bold; text-align: right;  } /* font-family: monospace; */

# ends
