/* this style sheet defines the basic style for SWAP documentation  */
/* you can point to this by adding:

     <LINK rel="Stylesheet" href="style">


   in the HEAD of your HTML document */

body {
  font-family: Trebuchet MS, sans-serif;
  color: black;
  background: white;
  margin-left: 2em;
  margin-right: 2em;
}

/* hack around html2ps centering bug */	
.centered {
  align: center;
}

.nav {
   font-size: 0.9em
}
.version {
   font-size: 0.7em
}

pre, .example {
  background: #f5f2f5;
  /*  border-style: dotted;
      border-width: 1px;  */
  font-family: monospace
  list-style-position: inside;
  margin-left: 0.5em;
  margin-right: 0.5em;
  padding: 0.5em;
}


h1 { text-align: center; }
h2,h3,h4 {  padding: 0.1em; border-style: solid; border-width: 1px; background-color: #e6e6e6; font-family: sans-serif;  }
h3 { padding-left: 1em ; 
     padding-right: 1em ; 
     font-style: italic } 

.hideme { display: none }

