/* this style sheet defines the basic style for SWAP documentation  */
/* you can point to this by adding:

     <LINK rel="Stylesheet" href="style">


   in the HEAD of your HTML document */

body {
  font-family: Trebuchet MS, Palatino, sans-serif;
  color: black;
  background: white;
}

p  { text-indent : 1em ;
     margin-left: 3em  ; /* a bit of white space */ }
pre { margin-left: 5em; }


h1 { text-align: left; font-family: sans-serif; }
h2 {  background-color: #ddffff; font-family: sans-serif;  }
h3 { font-style: italic }   /* distinguish from h2 */

address { text-align: right }

a:link, a:active {
  color: #00e;
  background: transparent;
}

a:visited {
  color: #529;
  background: transparent;
}

div.intro {
  margin-left: 5%;
  margin-right: 5%;
  font-style: italic
}

pre {
  font-family: monospace
}

a:link img, a:visited img {
   border-style: none
}

a img {
  color: white;		/* The only way to hide the border in NS 4.x */
}

UL.toc {
  list-style: disc;
  list-style: none;
}

div.issue {
  padding: 0.5em;
  border: none;
  margin-right: 5%;
}

.hideme { display: none }

